.issuelist-container {
  height: 100%;
}

#headingIssue {
  text-align: center;
  color: teal;
}
.issuelist-ul {
  height: 88%;
  overflow-y: auto;
}
.issue-row {
  display: flex;
  box-shadow: 0 0 2px grey;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 10px;
  align-items: center;

  &:hover {
    transform: scale(1.02);
  }
}
.issue-row-field_child {
  flex: 1 1;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 5px;
}

.issue_title {
}
.issue_description {
}
.issue_priority {
}
.issue_updatedOn {
}
.issue_createdOn {
}
